td.tr1,td.tr2{
  word-break:break-word;
}

@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {

  .button, .textfield{
    /* font-size: 1em!important; */
  }

  body {
    margin:0;
    border:0;
    font-size: 100%!important;
  }
  body>br {
    display:none
  }
  .bigtable {
    width:100%;
    border:0;
    padding:0;
    display: block;
  }

  .bigtable tbody{
    display: block;
  }

  body>a[href*="retrieve_password"] {
    display:none
  }
  a[href="javascript:openScript('messages.php',600,400)"] {
    width:100%;
    box-sizing:border-box;
    text-align:center;
    height:26px;
    /* padding-top:6px; */
    display:block
  }
  a[href="javascript:openScript('messages.php',600,400)"].menu {
    /* width:20%; */
    /* height:30px !important; */
    display:inline-block;
    font-size:1em;
    /* line-height:28px; */
    text-align:center;
    border:1px solid;
    /* margin-top:1em;
    border-radius:6px;
    margin-bottom:1em; */
    /* position:absolute;
    left:20%; */
    /* padding-top:0px; */
  }
  body>.bigtable:nth-of-type(1) td,body>.bigtable:nth-of-type(1) tbody,body>.bigtable:nth-of-type(1) tr {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    width:100%;
    padding:0;
    display: block;
    font-size: 1em;
  }
  body>.bigtable:nth-of-type(1) tr:nth-child(1) td{
    display:none
  }
  body>.bigtable:nth-of-type(1) tr:nth-child(1) td:first-child{
    display:block;
    width:100%;
    text-align:center;
    font-weight:normal;
    padding:5px;
    font-size: 1em;
  }
  body>.bigtable:nth-of-type(1) tr:nth-child(2)>td:nth-child(2){
    display:none
  }
  body>.bigtable:nth-of-type(1) tr:nth-child(2) td>form[action="search_pmsg.php"]{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    white-space:nowrap;
    line-height:0;
    font-size:0;
    color:transparent;
    width:100%;
    text-align:center;
    height:50px
  }
  body>.bigtable:nth-of-type(1) tr:nth-child(2) td>form[action="search_pmsg.php"] br,body>.bigtable:nth-of-type(1) tr:nth-child(2) td>form[action="search_pmsg.php"] input{
    display:none
  }
  body>.bigtable:nth-of-type(1) tr:nth-child(2) td>form[action="search_pmsg.php"] a{
    display:none
  }
  body>.bigtable:nth-of-type(1) tr:nth-child(2) td>form[action="search_pmsg.php"] a:nth-child(1),body>.bigtable:nth-of-type(1) tr:nth-child(2) td>form[action="search_pmsg.php"] a:nth-child(2),body>.bigtable:nth-of-type(1) tr:nth-child(2) td>form[action="search_pmsg.php"] a:nth-child(3),body>.bigtable:nth-of-type(1) tr:nth-child(2) td>form[action="search_pmsg.php"] a:nth-of-type(4){
    width:22%;
    height:28px;
    display:inline-block;
    font-size:1em;
    line-height:28px;
    text-align:center;
    border:1px solid;
    margin-top:1em;
    border-radius:6px;
    margin-bottom:1em;
    position:absolute;
    left:0;
    background:#DADADA;
    height: 4em!important;
    border-radius: .8em;
    line-height: 4em!important;
    padding: .4em!important;
  }
  body>.bigtable:nth-of-type(1) tr:nth-child(2) td>form[action="search_pmsg.php"] a:nth-child(1){
    left:51%;
    font-size:9px
  }
  body>.bigtable:nth-of-type(1) tr:nth-child(2) td>form[action="search_pmsg.php"] a:nth-child(2){
    left:26%
  }
  body>.bigtable:nth-of-type(1) tr:nth-child(2) td>form[action="search_pmsg.php"] a:nth-child(3){
    font-size:9px;
    left:76%
  }
  body>.bigtable:nth-of-type(1) tr:nth-child(2) td>form[action="search_pmsg.php"] a:nth-of-type(4){
    left:1%
  }
  body>.bigtable:nth-of-type(1) tr:nth-child(2) td[valign='top']>form,body>.bigtable:nth-of-type(1) tr:nth-child(2) td[valign='top']{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    white-space:nowrap;
    /* line-height:0;
    font-size:0; */
    color:transparent;
    width:100%;
    text-align:center;
    /* height:50px; */
  }

  body>.bigtable:nth-of-type(1) tr:nth-child(2) td[valign='top'] form[action='search.php']{
    display: flex;
    flex-wrap: wrap;
    padding: .6em;
  }

  body>.bigtable:nth-of-type(1) tr:nth-child(2) td[valign='top'] .button{
    margin-top: .8em;
    margin-bottom: .8em;
    border-top-right-radius: .4em;
    border-bottom-right-radius: .4em;
    padding: 1em;
    font-size: 1.24em;
  }
  body>.bigtable:nth-of-type(1) tr:nth-child(2) td[valign='top'] .textfield{
    width: 50%;
    margin-top: .8em;
    margin-bottom: .8em;
    margin-left: 5px;
    padding: 1em;
    font-size: 1.24em;
    border-top-left-radius: .4em;
    border-bottom-left-radius: .4em;
  }

  body>.bigtable:nth-of-type(1) tr:nth-child(2) td[valign='top']>form a,body>.bigtable:nth-of-type(1) tr:nth-child(2) td[valign='top'] a{
    display: none;
    border: 1px solid yellow;
  }
  body>.bigtable:nth-of-type(1) tr:nth-child(2) td[valign='top']>form a:nth-child(1),body>.bigtable:nth-of-type(1) tr:nth-child(2) td[valign='top']>form a:nth-child(2),body>.bigtable:nth-of-type(1) tr:nth-child(2) td[valign='top']>form a:nth-child(3),body>.bigtable:nth-of-type(1) tr:nth-child(2) td[valign='top']>form a:nth-child(4),body>.bigtable:nth-of-type(1) tr:nth-child(2) td[valign='top'] a:nth-child(1),body>.bigtable:nth-of-type(1) tr:nth-child(2) td[valign='top'] a:nth-child(2),body>.bigtable:nth-of-type(1) tr:nth-child(2) td[valign='top'] a:nth-child(3),body>.bigtable:nth-of-type(1) tr:nth-child(2) td[valign='top'] a:nth-child(4){
    width: 22%;
    display: inline-block;
    font-size: 1.2em;
    margin-top: 1em;
    border-radius: 1em;
    margin-bottom: 1em;
    margin-right: 0;
    margin-left: 0;
    background: #DADADA;
    height: 4em;
    line-height: 4em;
    margin: 0;
    border: 1px solid #222;
  }
  body>.bigtable:nth-of-type(1) tr:nth-child(2) td[valign='top']>form a:nth-child(1),body>.bigtable:nth-of-type(1) tr:nth-child(2) td[valign='top'] a:nth-child(1){
    /* left:51% */
  }
  body>.bigtable:nth-of-type(1) tr:nth-child(2) td[valign='top']>form a:nth-child(2),body>.bigtable:nth-of-type(1) tr:nth-child(2) td[valign='top'] a:nth-child(2){
    /* left:26% */
  }
  body>.bigtable:nth-of-type(1) tr:nth-child(2) td[valign='top']>form a:nth-child(3),body>.bigtable:nth-of-type(1) tr:nth-child(2) td[valign='top'] a:nth-child(3){
    /* left:1% */
  }
  body>.bigtable:nth-of-type(1) tr:nth-child(2) td[valign='top']>form a:nth-child(4),body>.bigtable:nth-of-type(1) tr:nth-child(2) td[valign='top'] a:nth-child(4){
    /* left:76% */
  }
  body>.bigtable:nth-of-type(1) tr:nth-child(2) td[valign='top']>form br,body>.bigtable:nth-of-type(1) tr:nth-child(2) td[valign='top']>form input,body>.bigtable:nth-of-type(1) tr:nth-child(2) td[valign='top'] br,body>.bigtable:nth-of-type(1) tr:nth-child(2) td[valign='top'] input{
    /* display:none */
  }
  body>.bigtable:nth-of-type(2){
    display:block;
    word-wrap:break-word
  }
  body>.bigtable:nth-of-type(2) img{
    max-width:100%
  }
  body>.bigtable:nth-of-type(2) tbody,body>.bigtable:nth-of-type(2) tr{
    display:block;
    width:100%
  }
  body>.bigtable:nth-of-type(2) tr:nth-child(odd) td{
    border:0;
    display:block;
    word-wrap:break-word;
    font-size:.7em;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
    padding: .35em .6em;
  }
  body>.bigtable:nth-of-type(2) tr:nth-child(even) td{
    font-size: .75em;
    line-height: 1.45em;
    display: block;
    word-wrap: break-word;
    padding: .4em .6em 0;
  }
  body>.bigtable:nth-of-type(2) tr:nth-child(even) td img{
    margin:.2em 0
  }
  body>.bigtable:nth-of-type(2) tr:nth-last-child(2) td{
    border-bottom:1px solid
  }
  body>.bigtable:nth-of-type(2) .footer{
    padding:.4em !important;
    font-size: 1em;
  }
  body>.bigtable:nth-of-type(2) .footer>.footer{
    display:inline-block;
    width:40%;
    margin-left:5%;
    border:1px solid white;
    position:relative;
    right:inherit;
    padding:.4em;
    font-size: 3em;
    box-sizing:border-box;
    text-align:center;
    border-radius:.5em;
    background:#222;
    text-decoration:none;
    margin: .5em;
  }
  body>.bigtable:nth-of-type(2) tr:first-child td{
    border-top:1px solid black
  }
  body>.bigtable:nth-of-type(2) tr,body>.bigtable:nth-of-type(2) tbody,body>.bigtable:nth-of-type(2) td{
    width:100%;
    box-sizing:border-box
  }
  body>.bigtable:nth-of-type(2) tr td[align='left']{
    display:block;
    padding:0;
    border:0
  }
  body>.bigtable:nth-of-type(2) tr td[align='left'] div[align='left']{
    display:none
  }
  body>.bigtable:nth-of-type(2) tr td[align='left'].tr1,body>.bigtable:nth-of-type(2) tr td[align='left'].tr2,body>.bigtable:nth-of-type(2) tr td[align='left'].header{
    display:none
  }
  body>.bigtable:nth-of-type(2) tr td[align='left'].tr1:nth-child(1),body>.bigtable:nth-of-type(2) tr td[align='left'].tr2:nth-child(1){
    display:block;
    padding:2px 5px 2px 5px;
    width:100%;
    border-top:1px solid
  }
  body>.bigtable:nth-of-type(2) tr td[align='left'].tr1:nth-child(1) a,body>.bigtable:nth-of-type(2) tr td[align='left'].tr2:nth-child(1) a{
    font-size:1em;
    font-weight:bold
  }
  body>.bigtable:nth-of-type(2) tr td[align='left'].tr1:nth-child(2),body>.bigtable:nth-of-type(2) tr td[align='left'].tr2:nth-child(2){
    display:block;
    padding:2px 5px 2px 5px;
    font-size:11px;
    font-weight:normal
  }
  body>.bigtable:nth-of-type(2) tr td[align='left'].header:nth-child(1),body>.bigtable:nth-of-type(2) tr td[align='left'].header:nth-child(2){
    display:block;
    padding:2px 5px 2px 5px;
    font-size:11px;
    font-weight:normal
  }
  table[cellpadding="2"]:nth-of-type(2) td[align='right']{
    border:0 !important;
    padding:0
  }
  body>.bigtable:nth-of-type(3) tr td:nth-child(3),body>.bigtable:nth-of-type(3) tr td:nth-child(5),body>.bigtable:nth-of-type(3) tr td:nth-child(4){
    display:none
  }
  body>.bigtable:nth-of-type(3) tr:first-child{
    display:none
  }
  body>.bigtable:nth-of-type(3) tr:last-child td:nth-child(2){
    border-bottom:1px solid
  }
  body>.bigtable:nth-of-type(3) td:nth-child(1){
    border:0;
    display:inline-block;
    width:100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:0;
    /* padding-bottom:2px;
    padding-top:5px; */
    border-top:1px solid
    padding: .2em;
    font-size: 2em;
    padding: .4em;
    padding-top: .4em;
    padding-bottom: .4em;

  }
  body>.bigtable:nth-of-type(3) td:nth-child(1)>a{
    padding-bottom:2px;
    width:96%;
    display:inline-block;
    font-weight:bold;
    /* border-bottom:1px solid #666; */
    margin-left:2%;
  }
  body>.bigtable:nth-of-type(3) td:nth-child(2){
    border:0;
    display:inline-block;
    width:100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:0;
    border-top: 1px solid;
    font-size: 2em;
    padding: .4em;
    padding-top: .4em;
    padding-bottom: .4em;
  }
  body>.bigtable:nth-of-type(3) td:nth-child(2)>strong{
    display:none
  }

  body>.bigtable:nth-of-type(3) td:nth-child(2)>a{
    /* padding-top:3px;
    padding-bottom:6px; */
    width:96%;
    margin-left:2%;
    display:inline-block
  }
  body>div[align='left']{
    white-space:nowrap;
    line-height:0;
    font-size:1em;
    color:transparent;
    position:relative
  }
  body>div[align='left'] strong{
    display:none
  }
  body>div[align='left'] a{
    display: none;
  }
  body>div[align='left'] a:nth-last-of-type(2){
    display:block;
    height:4em;
    font-size: 2em;
    color:black;
    text-align:center;
    border:1px solid black;
    border-radius:.4em;
    margin-top:1em;
    line-height: 3em;
    margin-bottom:1em
  }
  body>div[align='left'] a:nth-last-of-type(2):before{
    /* position:absolute;
    font-size:1em;
    line-height:28px;
    left:0;
    top:0;
    width:89%;
    margin-left:5%;
    content:"next";
    color:black;
    height:28px;
    border:1px solid black;
    border-radius:6px;
    margin-top:1em;
    margin-bottom:1em */
  }
  body>form table.replytbl,body>form table.replytable{
    padding:0
  }
  body>form table.replytbl tr,body>form table.replytbl tbody,body>form table.replytable tr,body>form table.replytable tbody{
    display:block;
    width:100%
  }
  body>form table.replytbl tr:nth-child(5),body>form table.replytable tr:nth-child(5){
    line-height:0;
    font-size:0
  }
  body>form table.replytbl tr:nth-child(5) [name="unhtml"],body>form table.replytable tr:nth-child(5) [name="unhtml"]{
    display:none
  }
  body>form table.replytbl td,body>form table.replytable td{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    display:inline-block
  }
  body>form table.replytbl td:nth-child(1),body>form table.replytable td:nth-child(1){
    width:100%;
    display:block;
    padding-top:.5em;
    text-align:left;
    width:96%;
    margin-left:2%;
    font-size: 2em;
  }
  body>form table.replytbl td:nth-child(2),body>form table.replytable td:nth-child(2){
    width:100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    width:96%;
    margin-left:2%
  }
  body>form table.replytbl td:nth-child(2) input,body>form table.replytbl td:nth-child(2) textarea,body>form table.replytable td:nth-child(2) input,body>form table.replytable td:nth-child(2) textarea{
    width:100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:.4em;
    font-size: 2em;
  }
  body>form table.replytbl td:nth-child(2) textarea,body>form table.replytable td:nth-child(2) textarea{
    font-size: 2em;
    height:200px;
  }
  body>form table.replytbl td:nth-child(2) input[type="radio"],body>form table.replytable td:nth-child(2) input[type="radio"]{
    display:inline;
    width:auto
  }
  body>form table.replytbl td:nth-child(2) .button,body>form table.replytable td:nth-child(2) .button{
    font-size: 2em;
    border-radius:.4em;
    padding:1em 0;
    margin-bottom:.4em;
  }
  body>form table.replytbl tr:nth-child(4) td:nth-child(2),body>form table.replytable tr:nth-child(4) td:nth-child(2){
    font-size:1em;
    line-height:1em;
  }
  body>form table.replytbl tr:nth-child(4) td:nth-child(2) input:nth-child(2),body>form table.replytable tr:nth-child(4) td:nth-child(2) input:nth-child(2){
    display:none
  }
  body>form[action='delete_pmsg.php'] tr td:nth-child(4),body>form[action='delete_sent_pmsg.php'] tr td:nth-child(4){
    display:none
  }
  body>form[action='pmsg_send.php'] table,body>form[action='pmsg_send.php'] tbody,body>form[action='pmsg_send.php'] tr,body>form[action='pmsg_send.php'] td{
    display:block;
    width:100%;
    box-sizing:border-box
  }
  body>form[action='pmsg_send.php'] tr:nth-child(1) td{
    display:block;
    width:100%
  }
  body>form[action='pmsg_send.php'] tr:nth-child(1) td a{
    word-wrap:break-word
  }
  body>form[action='pmsg_send.php'] tr:nth-child(2){
    display:block;
    margin-top:1em
  }
}
img {
  max-width:100%
}
